<% if params[:controller] == 'about' %>
  <div class='card card-body bg-light'>
    <h3>Location Info</h3>
    <ul>
      <li>The BookStore</li>
      <li>1400 Bush Street</li>
      <li>Nanaimo, BC V9S6T4</li>
      <li>Phone: (250) 123-4678</li>
      <li>Email: support@bookstore.com</li>
    </ul>
  </div>
<% end %>
